.w3-input {
    width: 100%;
}
.btn-color {
  background-color: #757AD1;
  color: #FFFFFF;
}
.btn-color:hover {
  background-color: #8F95FF;
}
h1 {
  font-weight: 900;
  color: #292929;
}
.nameEdit {
  font-size: 12px;
  color: #C7C7C4;
}
