{{#partial "content"}}

    <h2>PDX LAN</h2>
    <p>PDXLAN is a mega-LAN Party event where PC gamers from around Portland Oregon and beyond bring their computers to play video games with one another and against one another. PDXLAN's mission is to create an accepting community of gamers and to raise money for charity. PDXLAN attendees participate in massive charity drives and average over $75,000 a year given to charity. PDXLAN hosts four events per year, each with their own unique attributes described below. </p>

    <p><strong>PDXLAN "Main" Events:</strong></p>
    <p>PDXLAN's Main events consist of 550 gamers from North America. Main events happen in February and July and have a number associated with them "30, 31, 32,..." PDXLAN's Main events are four days long, host multiple contests, tournaments, presentations, and raffles. These PDXLAN events have a very busy schedule with something for everyone. PDXLAN Main events tend to run about $150,000 in hardware & game prizes. Tickets for PDXLAN main events always go on sale at the opposite main event (July tickets go on sale at the February event, and February tickets go on sale at the July event). Be ready, these sell very fast! </p>

    <p><strong></string>PDXLAN "November" Events:</strong></p>
    <p>PDXLAN's November Events are all about having time to game without the hectic schedule of a "Main" event. Typical November events have no contests or tournaments getting in the way of a weekend full of gaming with your friends & family. November events focus on a charity that helps those in need around the holidays. Typical events raise over $50,000 and have over $150,000 in prizes for attendees. </p>

{{/partial}}

{{> layout.hbs}}