{{#partial "content"}}

    <h2>Team list!</h2>

    {{#if teams}}
        <p>Current Teams:</p>
        {{#each teams}}
            <div class="w3-card-4">

                <header class="w3-container w3-light-grey">
                    <h3>{{ teamName }} <a href="/teams/{{id}}" class="nameEdit"> edit team name...</a></h3>
                </header>

                <div class="w3-container">
                    <p>1 new friend request</p>
                    <hr>
                    <p>{{descriptio}}</p>
                </div>

            </div>
        {{/each}}
    {{else}}
        <p>No Teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}