{{#partial "content"}}

    <h2>Team list!</h2>

    {{#if teams}}
        {{#each teams}}
            <p>Current Teams:</p>
            <p>{{ teamName }} <a href="/teams/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No Teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}