<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Team Tracker{{/block}}</title>
        <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
        <link rel='stylesheet' href='/styles.css'>
        {{#block "header"}}{{/block}}
    </head>
    <body>

    <div class="w3-container">
        <h1>TEAM TRACKER</h1>
        <div class="w3-bar w3-light-grey">
            <a href="/about" class="w3-bar-item w3-button btn-color">About Event</a>
            <a href="/" class="w3-bar-item w3-button btn-color">View All Teams</a>
            <a href="/teams/new" class="w3-bar-item w3-button">Add New Team</a>
        </div>
        <!--begin main template-->

        {{#block "content"}}
        {{/block}}

    </div>
    <!--end main template-->
    </body>
</html>
