<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Team Tracker{{/block}}</title>
        <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    </head>
    <body>
    <div class="w3-bar w3-border w3-light-grey">
        <a href="#" class="w3-bar-item w3-button w3-green">Home</a>
        <a href="/" class="w3-bar-item w3-button">See All Teams</a>
        <a href="/team/new" class="w3-bar-item w3-button">Add a new Team</a>
    </div>
    <div class="w3-container">
        <!--begin main template-->

        <h1>TEAM TRACKER</h1>


        <div class="w3-cell-row">
            <div class="w3-container w3-cell">
                {{#block "content"}}
                {{/block}}
            </div>
        </div>
    </div>
    <!--end main template-->
    </body>
</html>
