{{#partial "header"}}
    <meta http-equiv="refresh" content="0; url=/teams/{{team.id}}">
{{/partial}}
{{#partial "content"}}

    <h1>Success!</h1>
    Member has been saved.
    <a href="/">Go Back</a>

{{/partial}}

{{> layout.hbs}}