{{#partial "content"}}
    <p>Team:</p>
    <p>{{team.teamName}}   <a href="/teams/{{team.id}}/update" class="nameEdit" >Edit Team Name</a></p>
    <h5>Team Members:</h5>
    <p> {{{team.members}}}</p>
    <h5>Team Description:</h5>
    <p> {{team.description}}</p>
{{/partial}}
{{> layout.hbs}}